{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="POST">
        <p>
            <label for="username">Username: </label>
            <input name="user" id="username" type="text">
        </p>
        <p>
            <label for="password">Password:</label>
            <input name="pass" id="passwaord" type="password">
        </p>
        <p>
            <input name="remember" id="remember" type="checkbox">
            <label for="remember">Remember me</label>
        </p>
        <button>Sign In</button>
    </form>
{% endblock %}